
.jumbotron {
  background-image: url('/img/beer_background.jpg');
  background-repeat: no-repeat;
  background-color: black;
  background-position-x: -100px;
  background-size: 1900px 1000px;
  padding-top: 30px;
  min-height: 80%;
  font-size: inherit;
}

.jumbotron .container {
  padding-left: 0px;
  margin-left: 30px;
}

nav {
  background-color: transparent;
  border: none;
  margin-bottom: 80px;
}

.navbar-brand {
  color: white;
  font-size: 28px;
}

ul.navbar-nav a {
  color: white;
  font-size: 16px;
}

ul.navbar-nav a.fa {
  font-size:20px;
  text-decoration: none;
}
